<h2 class="color-primary font-bold padding-0">{{nome}}</h2>

<div class="col s12 m6 padding-large">
    <div class="col padding-12">
        <div class="padding-24 col">
            <div class="col s2 padding-12">
                <img src="{{home}}{{vendor}}site-evento/public/assets/img/date-white.png" class="left" width="50" height="50"/>
            </div>
            <div class="col s10">
                <div class="col padding-bottom font-xlarge color-primary font-bold">Data</div>
                <div class="col font-bold color-text-gray">{{data_de_inicio}}</div>
                {{#have_data_de_termino}}<div class="col font-bold color-text-gray">{{data_de_termino}}</div>{{/have_data_de_termino}}
            </div>
        </div>
        <div class="padding-24 col">
            <div class="col s2 padding-12">
                <img src="{{home}}{{vendor}}site-evento/public/assets/img/horario.png" class="left" width="50" height="50"/>
            </div>
            <div class="col s10">
                <div class="col padding-bottom font-xlarge color-primary font-bold">Horario</div>
                <div class="col font-bold color-text-gray">{{hora_de_inicio}}</div>
                {{#have_hora_de_termino}}<div class="col font-bold color-text-gray">{{hora_de_termino}}</div>{{/have_hora_de_termino}}
            </div>
        </div>
        <div class="padding-24 col">
            <div class="col s2 padding-12">
                <img src="{{home}}{{vendor}}site-evento/public/assets/img/localizacao.png" class="left" width="50" height="50"/>
            </div>
            <div class="col s10">
                <div class="col padding-bottom font-xlarge color-primary font-bold">Localização do evento</div>
                <div class="col font-bold color-text-gray">{{bloco}}, {{sala}}</div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6 padding-large">
    <h2 class="font-bold padding-32 padding-bottom">Apresentação do Evento</h2>
    <p class="font-large padding-12 col" style="max-height: 50vh;overflow-y: auto;">{{{descricao}}}</p>
</div>
