<div class="col padding-small no-select animate-right card-parent">
    <div class="card card-visitors pointer" rel="{{id}}">
        <div class="header" style="background: url({{imagem}})"></div>
        <div class="info col padding-large padding-24">
            <p class="date font-small">
                <div class="left" style="padding:2px 7px 0 0">
                    <img src="{{home}}{{vendor}}site-evento/public/assets/img/date.png" width="20" height="20" style="width: 20px;height: 20px">
                </div>
                <div class="left font-medium padding-tiny font-bold">
                    {{data}}
                </div>
            </p>
            <h3 class="font-xlarge col padding-24 font-bold color-text-black" style="line-height: 28px;">{{nome}}</h3>
        </div>
    </div>
</div>
