<div id="logo-header">
    <img src="public/assets/img/unesc-brand.svg" height="75" class="animate-top left" style="animation-duration: .7s;height: 75px" />
    <h1 class="animate-top left color-text-white" style="padding: 37px 0 0 7px;font-size: 35px;">eventos</h1>
</div>
<a href="{{home}}listagem/eventos" data-animate="forward" class="btnediteventos right btn color-white theme-text radius animate-top" style="animation-duration: .9s;">
    <div class="s-hide">
        editar eventos
    </div>
    <div class="hide s-show">
        <i class="material-icons">edit</i>
    </div>
</a>
